body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  height: 65px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(0,0,0,.7);
  align-items: center;
  padding-left: 300px;
  padding-right: 300px;
}

.nav-logo {
  /* margin: 12px; */
}

.nav-logo button {
  /* padding: 5px 40px; */
  background: none;
  border: none;
  
}

.nav-logo button a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-element {
  /* margin: 10px; */
  display: flex;
}

.nav-list {
  padding-left: 5px;
  padding-right: 5px;
}

.nav-list a {
  color: #FFFFFF80;
  text-decoration: none;
  font-size: 12.8px;
}

.header-banner {
  background: linear-gradient(0deg,#ff6a00 0,#ee0979 100%);
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-content {
  text-align: center;
 
}

.banner-content h1 {
  font-size: 80px;
  font-weight: bold;
  color: white;
}

.banner-content h2 {
  padding-top: 10px;
  font-size: 60px;
  font-weight: bold;
  color: white;
}

.banner-content button {
  margin-top: 50px;
  background-color: #EE0A78;
  padding: 20px 60px;
  border-radius: 20px;
  color: white;
  border: none;
}

.content-section {
  max-width: 1010px;
  margin: auto;
  padding: 20px;
}
.content-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-text {
  max-width: 500px;
  padding-right: 20px;
}

.content-text h3 {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content-text span {
  display: block;
}

.content-text p {
  line-height: 1.5em;
}

.content-image {
  /* padding: 20px 70px; */
  /* margin: 20px 70px; */
}

.content-image img {
  max-width: 445px;
  height: auto;

  border-radius: 50%;
}

.content-left-img {
  flex-direction: row-reverse;
}

footer {
  background-color: black;
  height: 115px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container {
  position: absolute;
  width: 100%;
  text-align: center;
}

.container p {
  color: white;
  font-size: 12.8px;
}